name: Kubernetes deployment

on:   # upon successful workflow on main branch, OR upong tagging "k8s_v*"
  workflow_run:
    workflows:
     - "Build and Push Docker Image"
    types:
      - completed
    branches:
      - main

  push:
    tags:
      - 'k8s_v*'

jobs:
  check-viability:
    # just to isolate rules to trigger Kubernetes deployment
    runs-on: ubuntu-latest
    outputs:
      should_deploy: ${{ steps.check.outputs.should_deploy }}
      wf_run_id: ${{ steps.check.outputs.wf_run_id }}
      wf_branch: ${{ steps.check.outputs.wf_branch }}

    steps:

      - name: Minimal code checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Check if K8s deployment is requested
        id: check
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          current_check=false
          if [[ "${{ github.event_name }}" == 'workflow_run' ]]; then
            # upon workflow_run
            if [[ "${{ github.event.workflow_run.conclusion }}" != 'success' ]]; then
              echo "A Docker image build seem to have just failed ... therefore a K8s deployment cannot be triggered." 
            else
              echo "Found tag(s): $TAGS and I've been triggered by a ${{ github.event_name }} event... I'll try to deploy to K8s."
              current_check=true   
              wf_run_id="${{ github.event.workflow_run.id }}"
              wf_branch="${{ github.event.workflow_run.head_branch }}"
            fi
          else
            # upon tag push
            TAGS=$(git tag --points-at HEAD | grep '^k8s_v' || true)  
            if [[ -z "$TAGS" ]]; then
              echo "No k8s_v tag found on this commit... it should not trigger a K8s deployment."
            else  
              # last  run riuscito del build per questo commit
              BUILD_RUN=$(gh api \
                "/repos/${{ github.repository }}/actions/runs?head_sha=${{ github.sha }}" \
                --jq '[.workflow_runs[] | select(.name == "Build and Push Docker Image")] 
                      | sort_by(.id) | .[-1]|{"id":.id, "conclusion": .conclusion, "branch":.head_branch}')         
              if [[ $(jq -r '.conclusion ' <<<"$BUILD_RUN") == "success" ]]; then
                current_check=true
                wf_run_id=$(jq -r '.id' <<<"$BUILD_RUN")
                wf_branch=$(jq -r '.branch' <<<"$BUILD_RUN")
              else
                echo "Last Docker build was not 'successful', won't try to deploy to Kubernetes"
              fi
            fi
          fi
          echo "should_deploy=$current_check" >> $GITHUB_OUTPUT
          echo "wf_run_id=$wf_run_id" >> $GITHUB_OUTPUT
          echo "wf_branch=$wf_branch" >> $GITHUB_OUTPUT

  deploy:
    runs-on: ubuntu-latest
    needs: check-viability
    if: needs.check-viability.outputs.should_deploy == 'true'

    steps:

      - name: Checkout code
        uses: actions/checkout@v5

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: docker-build-info
          github-token: ${{ secrets.GITHUB_TOKEN }}
          run-id: ${{ needs.check-viability.outputs.wf_run_id }}
          # now docker_image_digest.txt contains the digest of the image
          # that was pushed by last successful docker pushing workflow on this commit

      - name: Kubectl configure
        uses: azure/k8s-set-context@v3
        with:
          method: kubeconfig
          kubeconfig: ${{ secrets.KUBE_CONFIG }}

      - name: Helm setup
        uses: azure/setup-helm@v3
        with:
          version: 'v3.12.3'

      - name: Variable assignment and helm value customization
        id: vars
        run: |
          # Previous successful branch name
          BRANCH_NAME="${{ needs.check-viability.outputs.wf_branch }}"
          
          # FIXME
          # Sanitizza il nome del branch per usarlo come tag (sostituisci / con -)
          IMAGE_TAG=$(echo "$BRANCH_NAME" | sed 's/\//-/g')
          
          # Choose appropriate values.yaml
          if [ "$BRANCH_NAME" == "main" ]; then
            VALUES_PATH="production"
            ENV="prod"
          elif [ "$BRANCH_NAME" == "develop" ]; then
            VALUES_PATH="dev"
            ENV="dev"
          else
            VALUES_PATH="staging"
            ENV="staging"
          fi
          
          VALUE_FILE=environments/$VALUE_PATH/values.yaml

          echo "branch=$BRANCH_NAME" >> $GITHUB_OUTPUT
          echo "image_tag=$IMAGE_TAG" >> $GITHUB_OUTPUT
          echo "values_file=$VALUES_FILE" >> $GITHUB_OUTPUT
          echo "environment=$ENV" >> $GITHUB_OUTPUT

      - name: Login Docker Registry
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Deploy con Helm
        run: |
          ENV=${{ steps.vars.outputs.environment }}
          # FROM artifact download
          IMAGE_DIGEST=$(cat docker_image_digest.txt)
          helm upgrade --install galemind-server-$ENV ./infra/helm/galemind-server \
            --namespace galemind-$ENV \
            --create-namespace \
            -f ./infra/helm/environments/$VALUES_PATH/values.yaml \
            --set image.repository=your-registry/galemind-server \
            --set image.tag=${{ steps.vars.outputs.image_tag }} \
            --set image.digest=$IMAGE_DIGEST \
            --wait \
            --timeout 5m

      - name: Verifica deployment
        run: |
          kubectl rollout status deployment/galemind-server \
            -n galemind-${{ steps.vars.outputs.environment }} \
            --timeout=5m
